footer{
    background-color: var(--text-light);
}

.links-bar{
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 0 auto;
    padding: 1em 0 3em 0;
}

.links-bar a{
    text-decoration: none;
    color: #fff;
}

.social-icons{
    display: flex;
    width: 50%;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0 2em 0;
}

.social-icons svg{
    color: #fff;
    font-size: 25px;
}

.copyright{
    text-align: center;
    padding: 3em 0;
    color: #fff;
}

@media(width < 380px){
    .links-bar{
        flex-direction: column;
        text-align: center;
    }
}