nav{
    width: 100%;
    max-width: 100%;
    position: fixed !important;
    display: block !important;
    background-color: #fff !important;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%) !important;
    z-index: 100;
}

nav img{
    max-width: 100%;
    max-height: 90%;
}

nav .navbar-collapse{
    gap: 1.5em;
}

nav a{
    color: #A83149 !important;
    font-weight: bolder !important;
    letter-spacing: 1px;
}

nav .phone-num{
    background-color: var(--text-light);
    color: #fff !important;
    padding: .5em 1.2em;
    border: 3px solid var(--text-light);
    transition: all .3s ease-in-out;
}

nav .phone-num:hover{
    color: var(--text-light) !important;
    background-color: #fff;
    transition: all .3s ease-in-out;
}


@media (width < 370px){

    nav{
        min-width: 220px;
    }

    nav .navbar-brand{
        max-width: 100px;
    }
}